body{
  background-image:url('../../../img/Puppy_on_Halong_Bay.jpg');
  background-repeat: repeat-y;
  /* background-size: <length>; */
  /* background-size: 500px; */

  /* background-size: <x y>; */
  background-size: 30%;

  /* background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover; */
  /* background-size: 100vh; */
}