*{
  margin: 0px;
  padding: 0px;
}
body{
  display:flex;
  border: 2px solid red;
  height: 500px;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
  align-content: flex-end;
}

div{
  width:100px;
  height: 50px;
  border: 2px solid blue;
  background-color: darkgray;
  margin: 1em;
  text-align: center;
}