html,body,div{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#atf{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url('foodie-lounge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-attachment: fixed;
  position: relative;
}

h1{
  font-family: 'Rammetto One', cursive;
  background-color: black;
  color: white;
  opacity: .8;
}

.background-shade{
  position: absolute;
  top:0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(3, 82, 199);
  opacity: .3;
  /* z-index: -1; */
}