*{
  margin: 0px;
  padding: 0px;
}

body{

  display: flex;
  border: 2px solid red;
  height: 600px;

  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;

}

.this-align{
  /* display: flex; THIS IS NOT NEEDED*/
  align-self: flex-start;
}


/* div/box creation */
div{
  width: 200px;
  height: 100px;
  border: 2px solid blue;
  background-color: darkgrey;
  margin: 1em;
  text-align: center;
}