*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{

  display: flex;
  flex-flow: row wrap;
  height: 600px;
}

section{
  display: flex;
  width: 100%;
}

/*  */

.flow2 > div{
  width: 200px;
  border: 2px solid red;
}

div{
  /* flex-grow: 1; */
  /* flex: 0 0 auto; */
  width: 500px;
  height: 200px;
  border: 2px solid blue;
  background-color: darkgray;
  text-align: center;
}

.flex1{
  flex-shrink: 1;
}

.flex2{
  flex-shrink: 4;
}
.flex3{
  flex-grow: 1;
}

.flex4{
  flex-grow: 4;
}