h1{
  color: red;
  border: 1px solid black;
  font-size: 36px;
  font-family: cursive;
  font-style: italic;
}

/* #emph wins because of his high specificity value of 100 so the color will be blue */
#emph{
  color:blue;
}

.cowboy{
  color:green;
}

.emphasize{
  color:yellow;
}