html,body{
  padding:0px;
  margin: 0px;
  box-sizing:border-box;
}

body{
  display: flex;
  /* By default, flex-flow: row nowrap; */
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 100vh;
  border:2px solid red;
  background-color: dodgerblue;
}

h1{
  /* color: azure; */
  font-family: 'Monoton', cursive;
  font-size: 3rem;
}