*{
  border: 2px double  red;
  margin:5px;
}

div{
  width: 100px;
  height: 100px;
  background-color: blue;
  color:#fff;
}

#one{
  position: relative;
  right:20px;
  bottom: 90px;
  background-color: green;
}

/* Overrides above position rules and Returns position to NORMAL. */
#one{
  position:static;
}