div{
  width: 400px;
  height:200px;
  border: 5px dashed red;
  margin: 20px auto;
}

.div2{
  box-sizing: border-box;
}
.div1 ,.div2{
  
  background-image: url('../img/Cara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  font-size: 20px;
  text-align: center;
}