*{
  box-sizing: border-box;
}

div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
  padding: 35px 0;
}

.block{
  display:block;
  background-color: salmon;
}

.inline{
  display:inline;
  background-color: salmon;
}

.inline-block{
  display: inline-block;
  background-color: salmon;
}